<div class="topnav">
    <a class="active" href="homepage">Home</a>
    <a href="/register">Register</a>
    <a href="/order">Order</a>
    <a href="/membership">Membership</a>
    <a href="/profile">Profile</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </div>